:root[inFullscreen]:not([inDOMFullscreen])
#navigator-toolbox {
    visibility: visible !important;
    opacity: 1 !important;
    top: 8px !important;
}

:root[inDOMFullscreen] #navigator-toolbox {
    visibility: collapse !important;
    opacity: 0 !important;
    pointer-events: none !important;
    top: auto !important;
}
